/* static/labridge_app/css/base.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #086ebd;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav a img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

div {
    padding: 10px;
}

.landing-container {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 10px;
}

.landing-buttons {
    margin-top: 30px;
}

.landing-buttons .button {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}

.landing-buttons .button:hover {
    background-color: #0056b3;
}

/* base.css */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #f8f9fa;
}

.navbar-left {
    position: absolute;
    left: 100px;
}

.navbar-left {
    text-align: left;
}

.back-button {
    background-color: #f8f9fa; /* Light grey background */
    border: none;
    color: #007bff; /* Bootstrap primary blue */
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.back-button:hover {
    background-color: #007bff; /* Change background color on hover */
    color: white; /* White text on hover */
}

.home-icon img {
    display: block;
    margin: auto;
}
