/* static/labridge_app/css/landing.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
}

header {
    background: #0579ee;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navbar .logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    background: url('../images/kilipeaks.jpg') no-repeat center center;
    background-size: cover; /* Ensures the background image covers the entire section */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(245, 244, 244); /* Corrected hex color for white */
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.cta-button {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.cta-button:hover {
    background: #0056b3;
}

.landing-page {
    padding: 50px 100px;
}

section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

section p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}

.card i {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 20px;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #0056b3;
}

footer {
    background: #f8f9fa;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

