{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Labridge{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/landing.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/product_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/product_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/order_history.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/add_to_cart.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/cart_detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'labridge_app/css/checkout.css' %}">
</head>
<body>
    <nav>
        <div class="navbar-center">
            <a href="{% url 'landing_page' %}">
                <img src="{% static 'labridge_app/images/home_icon.png' %}" alt="Home">
            </a>
        </div>
        <div class="navbar-left">
            <button onclick="goBack()" class="back-button">Back</button>
        </div>
        
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Davis Kuchaka</p>
    </footer>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
